<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"><body>
<div layout:fragment="content" class="text-center">
    <div class="card">
        <div class="card-header">
            <h2>Employee Details</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img th:if="${base64Photo}" th:src="'data:image/jpeg;base64,' + ${base64Photo}" class="img-fluid rounded" alt="Employee">
                </div>
                <div class="col-md-8">
                    <h3 th:text="${employee.name}"></h3>
                    <p><strong>Age:</strong> <span th:text="${employee.age}"></span></p>
                    <p><strong>Address:</strong> <span th:text="${employee.address}"></span></p>
                    <p><strong>Company:</strong>
                        <a th:href="@{/company/{id}(id=${employee.company.id})}"
                           th:text="${employee.company.name}"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>